body {
    font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #FFF;;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.studio-color {
    color: #2E2F42;
}

.nav {
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;

}


.nav:hover{
    color: #404bbf;
}
.nav:focus{
  color: #404bbf;
} 
.nav-link .link:hover{
    color: #404bbf;
}
.nav-link .link:focus{
    color: #404bbf;
}
.link{
    color: #2e2f42;
}
.address {
    font-style: normal;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}
.address:hover {
    color: #404bbf;
}
.address:focus {
    color: #404bbf;
}
.hero {
background-color: #2e2f42;
}
.main-hero {
    font-family: "Roboto";
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
        color: var(--WHITE, #FFF);
        line-height: 1.07;
        text-align: center;
        
}
.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        color: #ffffff;
        cursor: pointer;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
